<p id="notice"><%= notice %></p>

<h1>School Programs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @school_programs.each do |school_program| %>
      <tr>
        <td><%= link_to 'Show', school_program %></td>
        <td><%= link_to 'Edit', edit_school_program_path(school_program) %></td>
        <td><%= link_to 'Destroy', school_program, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School Program', new_school_program_path %>
