<%= simple_form_for(@teacher) do |f| %>

  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-8">
  <%= f.input :first_name %>
  <%= f.input :surname %>
  <%= f.input :dob %>
  <%= f.input :gender %>
  <%= f.input :education_level %>
  <%= f.input :municipality %>
  <%= f.input :admin_post %>
  <%= f.input :village %>
  <%= f.input :contract_end %>
  
  <%= f.button :submit %>
  </div>
  </div>
<% end %>


