<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Teachers</h1>
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-sm-12">
<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Surname</th>
      <th>ID</th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.first_name %></td>
        <td><%= teacher.surname %></td>
	<td><%= teacher.id %></td>
        <td><%= link_to 'Show', teacher %></td>
        <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
        <td><%= link_to 'Destroy', teacher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
    <br>
<div class="container">
  <div class="row">
    <div class="col-sm-12 text-right">
<%= link_to 'New Teacher', new_teacher_path %>
    </div>
  </div>
</div>
