<%= simple_form_for(@school) do |f| %>
  <%= f.error_notification %>

  <div class="form_inputs">
    <%= f.input :school_type %>
    <%= f.input :name %>
    <%= f.input :municipality %>
    <%= f.input :admin_post %>
    <%= f.input :contact_name %>
    <%= f.input :contact_number %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
