<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @school.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Municipality:</strong>
  <%= @school.municipality %>
</p>

<p>
  <strong>Admin post:</strong>
  <%= @school.admin_post %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @school.contact_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @school.contact_number %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
